@tailwind base;
@tailwind components;
@tailwind utilities;

#test {
    font-size: 100px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: aquamarine;
    -webkit-text-stroke-width: 1px;
}
#resume {
    font-size: 75px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #656b75;
    -webkit-text-stroke-width: 1px;
}
#contact {
    font-size: 75px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #656b75;
    -webkit-text-stroke-width: 1px;
    
}
#github {
    font-size: 75px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-color: #656b75;
    -webkit-text-stroke-width: 1px;
}

#aboutme {
    background-image: linear-gradient(60deg, #9ca8ba, #4400aa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.item-open {
    visibility: visible;
}

.item-closed {
    visibility: hidden;
}